@import url(./normalize.css);
@import url(./sr-only.css);
@import url(./theme.css);
@import url(./base.css);
@import url(./fontello.css);

/* 헤더 */
.header{
  max-width: var(--container-width);
  margin:var(--spacing-xl) auto;
  padding: var(--spacing-base) var(--spacing-lg);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
/* 로고 */
.logo-link{
  padding: var(--spacing-xs);
}
.logo-img{
  flex-shrink: 0;
}
/* 네비게이션 */
.navigation{
  font-size: var(--text-base);
  color: var(--secondary-color);
  display: flex;
  flex-flow: row nowrap;
  flex-grow: 1;
  flex-shrink: 0;
  padding-left: var(--spacing-lg);
}
.nav-list{
  margin-right: var(--spacing-sm);
}
.nav-list:hover, .nav-list:focus{
  color: var(--light-gray);
}
.is-active{
  color: var(--primary-color);
}
.nav-link{
  padding: var(--spacing-xs);
  display: block;
}
.social-media{
  display: flex;
  flex-shrink: 0;
}
.social-media li{
  margin: 0 var(--spacing-xxs);
}
.icons{
  padding: var(--spacing-xs);
  display: block;
  font-size: var(--text-lg);
  color: var(--secondary-color);
}

/* 메인콘텐츠 */
.main{
  max-width: var(--container-width);
  margin-left: auto;
  margin-right: auto;
  padding: var(--spacing-base) var(--spacing-lg);
}
.titles{
  font-family: 'gilroy', 'Spoqa Han Sans';
  font-size: var(--text-xxl);
  font-weight: 700;
  color: var(--secondary-color);
  margin-bottom: var(--spacing-xl);
}
.titles::after{
  content: "";
  background-color: var(--primary-color);
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  margin-bottom: 13px;
  margin-left: 5px;
}
/* 새 영상 */
.news-videoContainer{
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 56%;
}
.news-videoContainer iframe{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/* 안테나 피드 */
.feed-grid{
  display: grid;
  grid-template: repeat(2,1fr) / repeat(5,1fr);
  gap: 1px;
}
.feed-cover{
  /* width: 200px;
  height: 200px; */
}
.feed-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: auto;
  
}

/* 태블릿 */
@media (max-width:768px){
  .header{
    justify-content: center;
  }
  .logo{
    width: 30%;
    height: auto;
  }
  .navigation{
    display: none;
  }
  .social-media{
    display: none;
  }
  .feed-grid{
    grid-template: repeat(2,1fr) / repeat(4,1fr);
  }
}
/* 모바일 */
@media (max-width:425px){
  .feed-grid{
    grid-template: repeat(3,1fr) / repeat(3,1fr);
  }
}