@import url(./normalize.css);
@import url(./sr-only.css);
@import url(./theme.css);
@import url(./base.css);
@import url(./fontello.css);

* {
  color: var(--secondary-color);
}
/* 헤더 */
.header {
  max-width: var(--container-width);
  margin: var(--spacing-xl) auto;
  padding: var(--spacing-base) var(--spacing-lg);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
/* 로고 */
.logo-link {
  padding: var(--spacing-xs);
}
.logo-img {
  flex-shrink: 0;
}
/* 네비게이션 */
.navigation {
  font-family: "gilroy";
  font-size: var(--text-base);
  display: flex;
  flex-flow: row nowrap;
  flex-grow: 1;
  flex-shrink: 0;
  padding-left: var(--spacing-lg);
}
.nav-list {
  margin-right: var(--spacing-sm);
  transition: opacity, 300ms;
}
.nav-link {
  padding: var(--spacing-xs);
  display: block;
}
.social-media {
  display: flex;
  flex-shrink: 0;
}
.social-media li {
  margin: 0 var(--spacing-xxs);
}
.icons {
  padding: var(--spacing-xs);
  display: block;
  font-size: var(--text-lg);
  transition: opacity, 300ms;
}
.nav-list:hover,
.nav-list:focus,
.icons:hover,
.icons:focus {
  opacity: 0.4;
}
.is-active {
  color: var(--primary-color);
}

/* 메인콘텐츠 */
.main {
  max-width: var(--container-width);
  margin-left: auto;
  margin-right: auto;
  padding: var(--spacing-base) var(--spacing-lg);
}
.sections {
  padding: var(--spacing-uxl) 0;
}
.titles {
  font-family: "gilroy";
  font-size: var(--text-xxl);
  font-weight: 700;
  margin: var(--spacing-xl) 0;
}
.titles::after {
  content: "";
  background-color: var(--primary-color);
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  margin-bottom: 13px;
  margin-left: 5px;
}
/* 새 영상 */
.news {
  padding: 0;
}
.news-videoContainer {
  position: relative;
  width: 100%;
  height: 0 !important;
  padding-top: 56%;
}
.news-videoContainer iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
/* 안테나 소개 */
.intro {
  margin-bottom: var(--spacing-uxl);
}
.intro-title {
  margin-bottom: var(--spacing-md);
}
.explains {
  font-family: "Spoqa Han Sans";
  font-weight: 600;
  opacity: 0.4;
  letter-spacing: -0.125rem;
  padding: var(--spacing-base) 0;
  margin-bottom: var(--spacing-uxl);
}
/* 링크 버튼 스타일 */
.btns {
  width: 260px;
  border: 1px solid rgba(54, 54, 54, 0.2);
  color: rgba(54, 54, 54, 0.85);
  position: relative;
  transition: background-color, 300ms;
}
.btns a {
  display: block;
  padding: var(--spacing-md);
  font-weight: 700;
  font-size: var(--text-sm);
  letter-spacing: -0.125rem;
}
.btns::after {
  content: "\e800";
  font-family: "fontello";
  font-size: var(--text-sm);
  position: absolute;
  top: 50%;
  right: 6%;
  transform: translateY(-50%);
  cursor: pointer;
}
.btns:hover,
.btns:focus {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

/* 안테나 피드 */
.feed-grid {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(5, 1fr);
  gap: var(--spacing-xxs);
}
.feed-cover {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  overflow: hidden;
  cursor: pointer;
}
.feed-img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.feed-cover:hover {
  opacity: 0.8;
}

/* 아티스트 */
.slider {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: var(--spacing-uxl) 0;
}
.artiest-wrapper {
  overflow: hidden;
  position: relative;
}
.artist-items {
  display: flex;
  width: calc(300px * 24);
  height: 100%;
  gap: var(--spacing-sm);
}
.artist-cover {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  aspect-ratio: 1/1;
  max-width: 300px;
  max-height: 300px;
  -webkit-animation: translateinfinite 50s linear infinite;
  animation: translateinfinite 50s linear infinite;
  cursor: pointer;
}
.artist-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.artist-fig {
  position: absolute;
  order: -1;
  text-align: center;
  text-shadow: 5px 5px 30px var(--primary-color);
  transition: opacity, 500ms;
  opacity: 0;
}
.artist-fig p {
  color: var(--white);
  font-weight: 700;
}
.ko-name {
  font-size: var(--text-xl);
}
.en-name {
  font-size: var(--text-xs);
}
.artist-cover:hover .artist-fig, .artist-cover:focus .artist-fig {
  opacity: 1;
}

@-webkit-keyframes translateinfinite {
  100% {
    transform: translateX(calc(-300px * 12));
  }
}
@keyframes translateinfinite {
  100% {
    transform: translateX(calc(-300px * 12));
  }
}

/* 태블릿 */
@media (max-width: 768px) {
  .header {
    justify-content: center;
  }
  .logo {
    width: 30%;
    height: auto;
  }
  .navigation {
    display: none;
  }
  .social-media {
    display: none;
  }
  .feed-grid {
    grid-template: repeat(2, 1fr) / repeat(4, 1fr);
  }
}
/* 모바일 */
@media (max-width: 425px) {
  .feed-grid {
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  }
}
